    .body {
        margin: 0;
        padding: 0;
    }

    h2 {
        font-family: 'Rokkitt', 'Roboto', sans-serif;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }

    .titlebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        z-index: 2;
        width: 100%;
        box-sizing: border-box; 
        border-bottom: 1px solid darkgray;
        background-color: white;
        background-image:
        repeating-linear-gradient(22.5deg, transparent, transparent 2px, rgba(75, 85, 99, 0.06) 2px, rgba(75, 85, 99, 0.06) 3px, transparent 3px, transparent 8px),
        repeating-linear-gradient(67.5deg, transparent, transparent 2px, rgba(107, 114, 128, 0.05) 2px, rgba(107, 114, 128, 0.05) 3px, transparent 3px, transparent 8px),
        repeating-linear-gradient(112.5deg, transparent, transparent 2px, rgba(55, 65, 81, 0.04) 2px, rgba(55, 65, 81, 0.04) 3px, transparent 3px, transparent 8px),
        repeating-linear-gradient(157.5deg, transparent, transparent 2px, rgba(31, 41, 55, 0.03) 2px, rgba(31, 41, 55, 0.03) 3px, transparent 3px, transparent 8px);

    }

    .sidebarButton {
        position: fixed;
        top: 3.2rem;
        left: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }

    .icon {
        height: 1.5rem; 
        padding-right:0.5rem;
    }

    .title {
        padding-left: 2rem;
    }

    .dashboard {
        display: grid;
        grid-template-columns: 30% 70%;
        transition: grid-template-columns 0.3s;
        width: 100%;
    }

    .sidebar {
        position: relative;
        top: 4rem;
        background-color: rgb(250, 250, 250);
        color: black;
        margin-right: 0.5rem;
        padding: 1rem;
        border: 1px solid darkgray;
        z-index: 0;
    }

    .sidebar-link {
        display: flex; 
        align-items: center; 
        justify-content: left;
        
    }

    .sidebar-link a {
        color: inherit; /* Inherits the color from the parent element */
        text-decoration: none; /* Removes the default underline */
    }

    .sidebar-link a:hover {
        display: block;
    }

    .main-content {
        position: relative;
        top: 5rem;
        background-color: white;
        z-index: 0;
    }

    .closed .dashboard {
        grid-template-columns: 0 1fr;
    }

    .closed .sidebar {
        display: none;
    }

    .closed .main-content {
        grid-column: span 2;
    }

    .subdash {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5rem 1fr 1fr;
        grid-template-areas: 
            "subheader1 subheader2"
            "item1 item2"
            "item3 item4";
        gap: 0.5rem;
    }

    .subheader1 {
        grid-area: subheader1;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 0.5rem;
    }

    .subheader2 {
        grid-area: subheader2;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 0.5rem;
    }

    .dropdown {
        padding-left: 0.5rem;
    }

    .item1 {
        grid-area: item1;
        height: 25rem;
        max-height:45vh;
    }

    .item2 {
       grid-area: item2; 
       height: 25rem;
        max-height:45vh;
    }

    .item3 {
        grid-area: item3;
        height: 25rem;
        max-height:40vh;        
    }

    .item4 {  
        grid-area: item4;
        height: 25rem;
        max-height:40vh;        
    }

    #map1 {
        height: 100%;  
        max-width: 100%;
        border: 1px solid darkgray;
    }

    #map2 {
        height: 100%;  
        max-width: 100%;
        border: 1px solid darkgray;
    }

    @media (max-width: 600px) {
        .dashboard {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        .subdash {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas:
                "subheader1"
                "item1"
                "subheader2"
                "item2"
                "item3"
                "item4";
            gap: 0.2rem;
        }
    }


