    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.5rem auto auto;
        grid-template-areas:
            "header header"
            "item1 item2"
            "item3 item4";
        gap: 10px; /* Optional: Adds space between grid items */
        border: 1px solid #ccc; /* Optional: For visualization */
        padding: 10px; /* Optional: For visualization */
    }

    .header{
        grid-area: header;
    }

    .item1 {
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .item4 {  
        grid-area: item4;
    }

    #map1 {
        height: 20rem;  
        max-height: 100%;  
        max-width: 100%;
    }

    #map2 {
        height: 20rem;  
        max-height: 100%;  
        max-width: 100%;
    }

    #map3 {
        height: 20rem;  
        max-height: 100%;  
        max-width: 100%;
    }

    #map4 {
        height: 20rem;  
        max-height: 100%;  
        max-width: 100%;
    }


    @media (max-width: 600px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem auto auto auto auto;
    grid-template-areas:
        "header"
      "item1"
      "item2"
      "item3"
      "item4";
  }
}